p.ml-3.mb-1 = link_to "Twitter", "https://twitter.com/currykenmiconos", target: "blank"
p.ml-3.mb-1 = link_to "Facebook", "https://www.facebook.com/pages/%E5%AE%9A%E9%A3%9F%E5%A0%82-%E9%87%91%E5%89%9B%E7%9F%B3/1282365808537392", target: "blank"
p.ml-3.mb-0 = link_to "食べログ", "https://tabelog.com/osaka/A2701/A270204/27097683/", target: "blank"