<p><%= @resource.email %>さん、こんにちは！</p>

<p>下記リンクより、パスワードの変更が可能です。</p>

<p><%= link_to 'パスワード変更フォームへ移動', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりのない場合は、無視していただいて大丈夫です。</p>
<p>あなたのパスワードは上記リンクからアクセスしない限りは変更されることはないのでご安心下さい。</p>
